<!doctype html>
<html lang="ru">
 <head> 
  <meta charset="utf-8"> 
  <title>Вакансии</title> 
 </head> 
 <body> 
  <table> 
   <tbody>
    <tr> 
     <th>Title</th> 
     <th>City</th> 
     <th>Company Name</th> 
     <th>Salary</th> 
    </tr>  
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032913">Java-разработчик</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">#PLACE</td> 
     <td class="salary">От 50 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000029069">Java разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ПРОГРЕСС СОФТ</td> 
     <td class="salary">От 120 000 до 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032614">Java-разработчик</a></td> 
     <td class="city">Томск</td> 
     <td class="companyName">Sidenis</td> 
     <td class="salary">До 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032790">Java Developer</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">TradingView</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032723">Java Software Developer (relocation to Munich)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Scalors GmbH</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023399">Scala/Java UI Developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">EXANTE</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027274">Senior Java Developer (freelance)</a></td> 
     <td class="city">Ярославль</td> 
     <td class="companyName">Akvelon</td> 
     <td class="salary">От 2 500 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032812">Разработчик Java</a></td> 
     <td class="city"></td> 
     <td class="companyName">Carggo</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032511">JAVA-разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Рив Гош</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032868">Java разработчик</a></td> 
     <td class="city">Алматы</td> 
     <td class="companyName">АО "Фридом Финанс"</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032524">Java архитектор</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ПРОГРЕСС СОФТ</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032581">Java developer</a></td> 
     <td class="city">Томск</td> 
     <td class="companyName">Sidenis</td> 
     <td class="salary">До 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032615">программист Java</a></td> 
     <td class="city">Томск</td> 
     <td class="companyName">Sidenis</td> 
     <td class="salary">До 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032456">Senior Java Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Центр Недвижимости от Сбербанка</td> 
     <td class="salary">От 140 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000030471">Java SE разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">М.Видео</td> 
     <td class="salary">От 120 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032633">Java - разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">ООО Аквелон Иваново</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032361">Программист Java</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">ООО "Прикладные технологии"</td> 
     <td class="salary">От 70 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000031797">java разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">BizTech Enterprise Solutions</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000019904">Java developer</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">EastBanc Technologies</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033057">Senior Java developer</a></td> 
     <td class="city">Минск</td> 
     <td class="companyName">ПерсоналИнвест</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032486">Java developer</a></td> 
     <td class="city">Симферополь</td> 
     <td class="companyName">TeamZero</td> 
     <td class="salary">От 60 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032666">Разработчик Java</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Группа компаний Экстрим</td> 
     <td class="salary">От 70 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032800">Разработчик Java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">QIWI</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028560">Java Developer</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Improve Group</td> 
     <td class="salary">От 60 000 до 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000030901">Java Developer</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">ИскраУралТЕЛ-СОФТ</td> 
     <td class="salary">От 80 000 до 110 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032913">Java-разработчик</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">#PLACE</td> 
     <td class="salary">От 50 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000029069">Java разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ПРОГРЕСС СОФТ</td> 
     <td class="salary">От 120 000 до 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032614">Java-разработчик</a></td> 
     <td class="city">Томск</td> 
     <td class="companyName">Sidenis</td> 
     <td class="salary">До 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032790">Java Developer</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">TradingView</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032723">Java Software Developer (relocation to Munich)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Scalors GmbH</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023399">Scala/Java UI Developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">EXANTE</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027274">Senior Java Developer (freelance)</a></td> 
     <td class="city">Ярославль</td> 
     <td class="companyName">Akvelon</td> 
     <td class="salary">От 2 500 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032812">Разработчик Java</a></td> 
     <td class="city"></td> 
     <td class="companyName">Carggo</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032511">JAVA-разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Рив Гош</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032868">Java разработчик</a></td> 
     <td class="city">Алматы</td> 
     <td class="companyName">АО "Фридом Финанс"</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032524">Java архитектор</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ПРОГРЕСС СОФТ</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032581">Java developer</a></td> 
     <td class="city">Томск</td> 
     <td class="companyName">Sidenis</td> 
     <td class="salary">До 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032615">программист Java</a></td> 
     <td class="city">Томск</td> 
     <td class="companyName">Sidenis</td> 
     <td class="salary">До 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032456">Senior Java Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Центр Недвижимости от Сбербанка</td> 
     <td class="salary">От 140 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000030471">Java SE разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">М.Видео</td> 
     <td class="salary">От 120 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032633">Java - разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">ООО Аквелон Иваново</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032361">Программист Java</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">ООО "Прикладные технологии"</td> 
     <td class="salary">От 70 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000031797">java разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">BizTech Enterprise Solutions</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000019904">Java developer</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">EastBanc Technologies</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033057">Senior Java developer</a></td> 
     <td class="city">Минск</td> 
     <td class="companyName">ПерсоналИнвест</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032486">Java developer</a></td> 
     <td class="city">Симферополь</td> 
     <td class="companyName">TeamZero</td> 
     <td class="salary">От 60 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032666">Разработчик Java</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Группа компаний Экстрим</td> 
     <td class="salary">От 70 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032800">Разработчик Java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">QIWI</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028560">Java Developer</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Improve Group</td> 
     <td class="salary">От 60 000 до 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000030901">Java Developer</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">ИскраУралТЕЛ-СОФТ</td> 
     <td class="salary">От 80 000 до 110 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032575">Java-программист (middle)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Petshop.ru</td> 
     <td class="salary">До 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028279">Junior Java Developer</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Improve Group</td> 
     <td class="salary">От 30 000 до 50 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000031003">Team Lead Java Developer</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">ИскраУралТЕЛ-СОФТ</td> 
     <td class="salary">От 90 000 до 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032572">Senior Java Developer</a></td> 
     <td class="city">Иркутск</td> 
     <td class="companyName">Exubit</td> 
     <td class="salary">От 80 000 до 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032584">Старший Java разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Odin (Ingram Micro)</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000030547">Вакансия Java программист</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">БИФИТ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032804">Java Senior Developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">i-Free</td> 
     <td class="salary">От 140 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032662">Senior Java Developer</a></td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">Q’ligent</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032014">Разработчик Java EE (удаленно)</a></td> 
     <td class="city"></td> 
     <td class="companyName">Sputnik Development</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000031243">Преподаватель/Методист вебинаров по Java SE/EE</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">GeekBrains</td> 
     <td class="salary">От 15 000 до 45 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027899">Middle Java Developer</a></td> 
     <td class="city">Пенза</td> 
     <td class="companyName">CodeInside</td> 
     <td class="salary">От 50 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032716">Java разработчик</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">Интернет-Хостинг Центр</td> 
     <td class="salary">От 40 000 до 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032208">Senior / Middle Java developer</a></td> 
     <td class="city">Минск</td> 
     <td class="companyName">RedNavis</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032377">Senior Java-разработчик/Back-end Developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Edisoft</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000030185">Senior Java Web Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Nitka Technologies</td> 
     <td class="salary">От 2 500 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032590">Mobile Java test automation engineer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Avito</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032654">Senior Java developer (relocation to Germany)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Innovative People</td> 
     <td class="salary">От 50 000 до 75 000 eur.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028030">Методист/Преподаватель курса "Разработка под Android на языке Java"</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">GeekBrains</td> 
     <td class="salary">От 30 000 до 45 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032879">Java разработчик (junior/senior)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Санкт-Петербургский информационно-ана...</td> 
     <td class="salary">От 70 000 до 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032875">Highload Backend Java Developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">ДругВокруг / Frim</td> 
     <td class="salary">От 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032359">Ведущий программист Java/JavaScript (Full-stack)</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">ООО "Прикладные технологии"</td> 
     <td class="salary">От 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032870">Senior Java Engineer (for highload backend)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Wavecell</td> 
     <td class="salary">От 3 000 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028892">Java разработка и/или автомат. тестирование на серверную часть соц. сети.</a></td> 
     <td class="city"></td> 
     <td class="companyName">Vero Labs Inc.</td> 
     <td class="salary">От 2 000 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000030005">Java разработчик</a></td> 
     <td class="city">Владимир</td> 
     <td class="companyName">Компания им. muratovaevgeniya</td> 
     <td class="salary">От 240 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032551">DevOps (Инженер инфраструктуры)</a></td> 
     <td class="city">Хабаровск</td> 
     <td class="companyName">AKVELON</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033133">Специалист по автоматизированному тестированию</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">YouDo</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032731">Implementation Specialist (relocation to Munich)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Scalors GmbH</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032814">Senior Oracle Developer/Team Lead</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Carggo</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032894">Backend-разработчик (full-stack)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Okko</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000018083">Android-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Avito</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032709">Android разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">PROFI.RU</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032452">Blockchain Expert</a></td> 
     <td class="city"></td> 
     <td class="companyName">Nitka Technologies</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000031868">Ведущий программист</a></td> 
     <td class="city"></td> 
     <td class="companyName">ВамПолис - разработка ПО</td> 
     <td class="salary">От 40 000 до 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032738">Android разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Почта Банк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032668">Поддержка и разработка музыкального Android приложения</a></td> 
     <td class="city"></td> 
     <td class="companyName">AGM Instruments</td> 
     <td class="salary">От 600 до 2 000 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032703">​JavaScript разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">Точка кипения</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032455">Разработчик Android</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Центр Недвижимости от Сбербанка</td> 
     <td class="salary">До 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033087">Автотестировщик ПО / Software Autotester</a></td> 
     <td class="city">Барнаул</td> 
     <td class="companyName">Группа компаний FOREX&nbsp;CLUB</td> 
     <td class="salary">От 40 000 до 60 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032908">Android разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Social Systems</td> 
     <td class="salary">От 60 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032748">Android Senior/Teamlead</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Rocketech Digital Agency</td> 
     <td class="salary">От 175 000 до 190 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000009853">Android - разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Wheely</td> 
     <td class="salary">От 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032073">Android developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">SmartLab Solutions</td> 
     <td class="salary">От 90 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032010">Android Developer (Relocate to London)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Badoo Development</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032144">Программист Битрикс</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Мир Меня Увидит</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032540">Руководитель разработки</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ПРОГРЕСС СОФТ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032612">Junior Back-end Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Agilians</td> 
     <td class="salary">От 50 000 до 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028556">Android Team Lead</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Wheely</td> 
     <td class="salary">От 165 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032759">разработка приложений Андроид</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">ООО "АльбиНаст"</td> 
     <td class="salary">От 40 000 до 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032439">Разработчик ETL</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">МТС</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033075">⚡ Full Stack Developer — Vimbox</a></td> 
     <td class="city"></td> 
     <td class="companyName">Skyeng</td> 
     <td class="salary">До 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000029023">Android программист</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">i'way</td> 
     <td class="salary">От 70 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032695">Web-разработчик</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">Точка кипения</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033001">Junior developer</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">#PLACE</td> 
     <td class="salary">От 15 000 до 30 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032582">Automation QA Engineer</a></td> 
     <td class="city">Томск</td> 
     <td class="companyName">Sidenis</td> 
     <td class="salary">До 90 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032594">Android-разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Logomotiv</td> 
     <td class="salary">От 71 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000030325">Senior Android Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">TechOps</td> 
     <td class="salary">До 4 500 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000031996">Реверс-инженер (reverse engineer) ios/android приложений</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">команда кодинга</td> 
     <td class="salary">До 2 000 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032763">Senior Android Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Diffco US</td> 
     <td class="salary">От 70 000 до 135 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024536">Тестировщик (QA-автоматизатор)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Sendsay.ru</td> 
     <td class="salary">От 60 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032498">Android-developer / Андроид-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">MONS</td> 
     <td class="salary">От 150 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032811">Android-разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">CV Recruitment</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000030696">Android разрабочик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Мамси</td> 
     <td class="salary">От 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032828">Senior Technical Project Manager</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">i-Free</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032562">​Digital Technology Leadership Program (DTLP)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">General Electric</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032825">Разработчик/DevOps</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ООО "НТЦ "Вулкан"</td> 
     <td class="salary">От 90 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032839">Ведущий эксперт/Руководитель группы (Управление разработкой)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ООО "НТЦ "Вулкан"</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033017">Разработчик мобильных приложений</a></td> 
     <td class="city">Алматы</td> 
     <td class="companyName">iBEC Systems</td> 
     <td class="salary">От 150 000 до 300 000 тнг.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032580">QA-инженер (mobile)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">MFS</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/204824600">Android разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">CV Recruitment</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000031242">Преподаватель вебинаров по web программированию</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">GeekBrains</td> 
     <td class="salary">От 15 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032728">Инженер-программист группы технической поддержки</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Петер-Сервис</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032967">Frontend разработчик</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Группа компаний Экстрим</td> 
     <td class="salary">От 50 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033128">Разработчик баз данных процессинга (Oracle)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">QIWI</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000031907">Ruby/RoR developer</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Nix Solutions</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033080">Ruby Developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">SPB TV</td> 
     <td class="salary">От 120 000 до 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032965">Backend developer (PHP, SOA)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">New Edge</td> 
     <td class="salary">До 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032998">QA-инженер</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Расчетные системы</td> 
     <td class="salary">От 50 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033095">android developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">АО "Рестрим"</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032485">Разработчик JavaScript (server-side)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">QIWI</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026549">Android разработчик</a></td> 
     <td class="city">Симферополь</td> 
     <td class="companyName">appwilio</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028561">Android Developer</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Improve Group</td> 
     <td class="salary">От 60 000 до 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032266">Ведущий разработчик мобильных приложений на платформе Андроид</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Бэби.ру</td> 
     <td class="salary">От 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032659">Инженер-программист по автоматизации разработки ПО</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">Югпромавтоматизация</td> 
     <td class="salary">От 60 000 до 85 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033021">Разработчик приложений iOS и Android</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Образовательный холдинг "Синергия"</td> 
     <td class="salary">От 90 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000029980">Android-developer / Андроид-разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">mobidoo.io</td> 
     <td class="salary">От 60 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032450">Разработчик M2M-сервисов в направление IoT</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">МТС</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033081">iOS-программист со знанием JavaScript (удалённо)</a></td> 
     <td class="city"></td> 
     <td class="companyName">Start Mobile</td> 
     <td class="salary">От 50 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032437">Архитектор продуктовых направлений</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">МТС</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032448">Специалист по работе с базами данных</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">МТС</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000030488">Старший/ Ведущий программист на Python (сервер)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Naviaddress</td> 
     <td class="salary">От 180 000 до 220 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025557">Старший разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Додо ИС</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032686">Javascript Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Competentum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032530">Системный аналитик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">QIWI</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028300">Разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Додо ИС</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032404">PHP-разработчик (Web Applications)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Hemmersbach RUS</td> 
     <td class="salary">От 90 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025522">Python разработчик / Python Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Marilyn</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032367">ReactJS разработчик</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Очень Интересно</td> 
     <td class="salary">От 40 000 до 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000022489">Ведущий Python разработчик / Senior Python Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Marilyn</td> 
     <td class="salary">От 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000008805">Senior Software PHP Developer с обучением Scala</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">PimPay</td> 
     <td class="salary">До 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033036">iOS / Android developer with React Native experience, Blockchain Finance Project</a></td> 
     <td class="city"></td> 
     <td class="companyName">Santiment</td> 
     <td class="salary">От 2 500 до 3 000 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032882">Data Scientist</a></td> 
     <td class="city">Берлин</td> 
     <td class="companyName">Locarta GmbH</td> 
     <td class="salary">От 3 000 до 8 000 eur.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="url"></a></td> 
     <td class="city"></td> 
     <td class="companyName"></td> 
     <td class="salary"></td> 
    </tr> 
   </tbody>
  </table>  
 </body>
</html>